/*------------ Color -------------*/
/*------------ KeyFrame ---------*/
@keyframes afterNav {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #141110;
  height: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a:visited {
  color: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #3b3330;
  transition: 0.75s ease-in-out;
  z-index: 3;
}
nav .logo {
  width: 60px;
  height: 60px;
  background: url("/assets/icon/JavaScript-logo.webp") center/cover;
  border-radius: 100%;
  transition: 0.5s;
}
nav .logo:hover {
  transform: rotateY(360deg);
  transition: 0.5s;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100%;
}
nav ul li {
  position: relative;
  font-size: 1.2rem;
  color: #d4b3a5;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
nav ul li a {
  color: #d4b3a5;
}
nav ul li:hover {
  scale: 1.1;
}
nav ul li:hover:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  height: 3px;
  background-color: #302a27;
  animation: afterNav 0.5s ease forwards;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  color: red;
  background: url("../../assets/img/headerBK.webp") center/cover;
}
header h1 {
  margin-bottom: 50px;
  font-size: 2.2rem;
}
header p {
  margin-top: 10px;
  font-size: 2.5rem;
}
header p span {
  margin-left: 10px;
  font-size: 3rem;
  color: #c66294;
  overflow: hidden;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #1c1917;
  padding: 80px;
}
#about .aboutTitle {
  width: 50%;
  color: #d4b3a5;
  line-height: 30px;
}
#about .aboutTitle h2 {
  margin: 20px auto;
}
#about .aboutImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: white;
  opacity: 0;
  transform: translateX(150px);
  transition: 0.8s ease-in;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  color: white;
  width: 100%;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.8s ease-in-out;
}
#skills h2 {
  position: relative;
  text-align: center;
  margin: 50px auto;
  padding-bottom: 40px;
  font-size: 2rem;
  color: #d4b3a5;
}
#skills .skillsContain {
  display: flex;
  justify-content: space-around;
  align-items: start;
  text-align: center;
}
#skills .skillsLeft {
  width: 40%;
}
#skills .skillsLeft h3 {
  margin: 20px auto;
  color: #d4b3a5;
  font-size: 1.5rem;
}
#skills .skillsRight {
  width: 40%;
}
#skills .skillsRight h3 {
  margin: 20px auto;
  color: #d4b3a5;
  font-size: 1.5rem;
}
#skills .iconLeft,
#skills .iconRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#skills .iconLeft .iconFlex i,
#skills .iconRight .iconFlex i {
  font-size: 4rem;
  margin: 20px 0;
  transition: 0.25s ease;
  cursor: pointer;
}
#skills .iconLeft .iconFlex i:hover,
#skills .iconRight .iconFlex i:hover {
  transform: scale(1.1);
  transition: 0.25s ease;
}

#folio {
  width: 100%;
  margin: 80px auto;
  background: #1c1917;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.8s ease-in-out;
}
#folio .folioContain {
  width: 100%;
}
#folio .folioContain h2 {
  text-align: center;
  padding: 50px 0;
  font-size: 2rem;
  color: #d4b3a5;
}
#folio .folioContain .folioList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 40px;
  margin: 0 auto;
}
#folio .folioContain .folioList .listCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  background: transparent;
}
#folio .folioContain .folioList .listCard .effect {
  width: 80%;
  height: 80%;
  background-color: #141110;
  margin: 0 auto;
  opacity: 0;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
#folio .folioContain .folioList .listCard .effect h3 {
  padding: 15px;
  color: #d4b3a5;
  text-align: center;
  opacity: 0;
}
#folio .folioContain .folioList .listCard .effect p {
  text-align: center;
  padding: 15px;
  color: #d4b3a5;
  opacity: 0;
}
#folio .folioContain .folioList .listCard:hover > .effect {
  transition: 0.6s ease-in-out;
  opacity: 1;
}
#folio .folioContain .folioList .listCard:hover > .effect h3 {
  opacity: 1;
}
#folio .folioContain .folioList .listCard:hover > .effect p {
  opacity: 1;
}
#folio .folioContain .folioList .card1 {
  background: url("../../assets/img/card1.webp") center/cover;
}
#folio .folioContain .folioList .card2 {
  background: url("../../assets/img/card2.webp") center/cover;
}
#folio .folioContain .folioList .card3 {
  background: url("../../assets/img/card3.webp") center/cover;
}
#folio .folioContain .folioList .card4 {
  background: url("../../assets/img/card4.webp") center/cover;
}

#contact {
  position: relative;
  width: 100%;
  height: 500px;
  background: #141110;
}
#contact form {
  width: 100%;
  height: 100%;
}
#contact form h3 {
  text-align: center;
  padding: 50px 0;
  font-size: 2rem;
  color: #d4b3a5;
}
#contact form .formul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
#contact form .formul input[type=text] {
  text-align: center;
  height: 40px;
  width: 40%;
}
#contact form .formul textarea {
  width: 70%;
  height: 100px;
  resize: none;
  text-align: center;
  vertical-align: middle;
}
#contact form input[type=submit] {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  transition: 0.5s ease;
}
#contact form input[type=submit]:hover {
  border-radius: 15px;
  scale: 1.1;
  transition: 0.5s ease;
  cursor: pointer;
}

.formTest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formTest #name {
  width: 400px;
  height: 100px;
  margin-bottom: 50px;
}
.formTest input[type=submit] {
  width: 100px;
  height: 40px;
  transition: 0.4s;
}
.formTest input[type=submit]:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s;
}

.result {
  padding: 30px 0;
  color: white;
}

#footer {
  position: relative;
  background: #141110;
}
#footer .footerList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer .footerList ul {
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#footer .footerList ul h3 {
  padding-top: 40px;
  font-size: 2rem;
  color: #d4b3a5;
}
#footer .footerList ul li {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#footer .footerList ul li a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
}
#footer .footerList ul i {
  margin-right: 15px;
  text-align: center;
  font-size: 1.5rem;
}
#footer h3 {
  color: #d4b3a5;
}

.popUp {
  position: absolute;
  bottom: 0;
  right: -130px;
  width: 40%;
  height: 250px;
  background: rgba(255, 255, 255, 0.74);
  border-radius: 30% 15% 15% 30%;
  opacity: 0;
  transition: 0.7s ease-in-out;
}
.popUp i {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 50px 15px 0 35px;
  cursor: pointer;
  transition: 0.4s ease;
}
.popUp i:hover {
  transform: scale(1.2);
  transition: 0.4s ease;
}
.popUp h3 {
  text-align: center;
}
.popUp p {
  text-align: center;
}
.popUp input[type=text] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 220px;
  height: 40px;
  margin: 15px auto;
}
.popUp input[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

.popUpAnswer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.popUpAnswer p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}
.popUpAnswer i {
  color: green;
}/*# sourceMappingURL=style.css.map */