header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  color: $color3;
  transition: 0.5s;
  & .center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 1.3rem;
    & .left {
      margin-right: 10px;
    }
  }
  & .down {
    font-size: 1.5rem;
    & i {
      color: pink;
      font-size: 3rem;
      margin-left: 10px;
    }
  }
}
