#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #1c1917;
  padding: 80px;
  & .aboutTitle {
    width: 50%;
    color: $color3;
    line-height: 30px;
    & h2 {
      margin: 20px auto;
    }
  }
  & .aboutImg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    opacity: 0;
    transform: translateX(150px);
    transition: 0.8s ease-in;
  }
}
