/*------------ Color -------------*/

$color1: white;
$color2: black;
$color3: #d4b3a5;

/*------------ KeyFrame ---------*/

@keyframes afterNav {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}
